# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.Python

# Virtualenv
.env
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Logs
*.log
.DS_Store
